.icon-xs {
  font-size: 1.15rem !important;
}

.icon-sm {
  font-size: 1.5rem !important;
}

.icon-md {
  font-size: 2rem !important;
}

.icon-lg {
  font-size: 2.3rem !important;
}

.icon-xl {
  font-size: 3.2rem !important;
}
